<div class="row">
    <form class="form-control" action="messages" method="POST">
       <textarea class="form-control" name="mymessage" style=" height:50px;" placeholder="текст сообщения" alt="Информация" >
           </textarea>
       <button type="submit" name='messubmit' class="btn btn-primary">
           Отправить
       </button>
    </form>
</div>