<div class="d-flex p-2 bd-highlight">
  <div class="container">
      <div class="row">
            <div class="col-lg-2 col-md-2">
                {{>usermes}}
            </div>
            <div class="col-lg-10 col-md-10">
                Я - мое сообщение
            </div>
      </div>

  </div>
 
    
    
</div>