<form name="addmess" method="POST" action="/addmessage">
 <input type="text" name="user_from" placeholder="отправитель"> <br>
 <input type="text" name="user_to" placeholder="получатель"><br>
 <textarea name="textmess" placeholder="текст сообщения"></textarea>

<button type="submit" name="savemess" class="btn btn-primary">отправить</button>

</form>